@keyframes zoomBG {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.25);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-500px, 0, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(300px, 0, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0,500px,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
